<div data-bs-theme="dark">
    <div class="card card mt-5">
        <div class="card-header text-center border-0">
            <h1 class="display-6 fw-bold">Todo List</h1>
        </div>
        <div class="card-body p-4">
            <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
                <div class="input-group">
                    <input class="form-control" name="description" ngModel required #description="ngModel" placeholder="enter task here">
                    <button class="btn float-end border-0" [disabled]="!taskForm.form.valid">
                        <i class="fa fa-plus-circle fa-xl" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="card border-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item fs-5" *ngFor="let task of tasks$ | async">
                    <button class="btn" (click)="updateTask(task.id, task.isDone)">
                        <i [ngClass]="task.isDone?'fa-solid fa-square-check fa-xl' : 'fa-regular fa-square-check fa-xl'"></i>
                    </button>
                    {{task.description}}
                    <button class="btn float-end text-secondary" (click)="deleteTask(task.id)">
                        <i class="fa-solid fa-x"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>





